<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .form-select {
            max-width: 300px;
        }

        .form-container {
            display:flex;
            flex-direction:column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container mt-3">
        @section section1
        {
            <h2>Animal catalog</h2>
            <form id="categoryForm" method="get" >
                <div class="mb-3 text-center">
                    <h5 for="categoryId" class="form-label">Selected category:</h5>
                    <br />
                    <h5 class="fw-bold">@ViewBag.SelectedCategoryName</h5>
                </div>
                <br />
                <div class="mb-3 form-container">
                    <select id="categoryId" name="categoryId" class="form-select">
                        <option value="">Select a category</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                    </select>
                </div>
            </form>
        }

        @section section2
        {
            <div class="container mt-3">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Picture</th>
                            <th>Animal Name</th>
                            <th>Animal Category</th>
                            <th>Find out more and comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var animal in ViewBag.Animals)
                        {
                            <tr>
                                <td><img src="@animal.PictureName" alt="@animal.Name" width="100" /></td>
                                <td class="text-center align-middle fw-bold">@animal.Name</td>
                                <td class="text-center align-middle fw-bold">@animal.Category.CategoryName </td>
                                <td class="text-center align-middle">
                                    @Html.ActionLink("Details", "Details", new { id = animal.AnimalId }, new { @class = "btn btn-info" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var categorySelect = document.getElementById('categoryId');
            var categoryForm = document.getElementById('categoryForm');

            if (categorySelect && categoryForm) {
                categorySelect.addEventListener('change', function () {
                    categoryForm.submit();
                });
            }
        });
    </script>
</body>
</html>
